Source: ramcloud
Priority: optional
Maintainer: Hiroaki Nakamura <hnakamur@gmail.com>
Build-Depends: debhelper (>= 11), dh-systemd,
 libboost-dev,
 libboost-program-options-dev,
 libboost-filesystem-dev,
 libboost-system-dev,
 libpcre3-dev,
 libprotobuf-dev,
 libssl-dev,
 libzookeeper-mt-dev,
 openjdk-8-jdk-headless,
 protobuf-compiler,
 python
Standards-Version: 4.1.2
Section: database
Homepage: https://github.com/PlatformLab/RAMCloud

Package: ramcloud-server
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, adduser
Description: unofficial package of RAMCloud - server
 RAMCloud is a new class of super-high-speed storage for large-scale
 datacenter applications. It is designed for applications in which a
 large number of servers in a datacenter need low-latency access to
 a large durable datastore.
 .
 This package contains the server executables.

Package: ramcloud-client
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: unofficial package of RAMCloud - client
 RAMCloud is a new class of super-high-speed storage for large-scale
 datacenter applications. It is designed for applications in which a
 large number of servers in a datacenter need low-latency access to
 a large durable datastore.
 .
 This package contains the client executable.

Package: ramcloud-dev
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: unofficial package of RAMCloud - development files
 RAMCloud is a new class of super-high-speed storage for large-scale
 datacenter applications. It is designed for applications in which a
 large number of servers in a datacenter need low-latency access to
 a large durable datastore.
 .
 This package contains the library and the header files.

Package: libramcloud-java
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: unofficial package of RAMCloud - java library
 RAMCloud is a new class of super-high-speed storage for large-scale
 datacenter applications. It is designed for applications in which a
 large number of servers in a datacenter need low-latency access to
 a large durable datastore.
 .
 This package contains the java library.
