#!/usr/bin/make -f

# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
export DH_VERBOSE = 1

# see FEATURE AREAS in dpkg-buildflags(1)
# export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)
DESTDIR = $(CURDIR)/debian/tmp
export GRADLE_USER_HOME=/home/build

%:
	dh $@

override_dh_auto_clean:
	$(MAKE) clean
	rm -rf scripts/*.pyc bindings/java/.gradle

override_dh_auto_build:
	$(MAKE) DEBUG=no

override_dh_auto_test:

override_dh_auto_install:
	dh_auto_install -- INSTALL_DIR=$(DESTDIR)
	mv ${DESTDIR}/bin/client ${DESTDIR}/bin/rc-client
	mv ${DESTDIR}/bin/coordinator ${DESTDIR}/bin/rc-coordinator
	mv ${DESTDIR}/bin/ensureServers ${DESTDIR}/bin/rc-ensureServers
	mv ${DESTDIR}/bin/server ${DESTDIR}/bin/rc-server
